nav li {
  float: left;
}
nav li a {
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
}
nav li a:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: #FB000D;
}

header {
  background-color: #009D92;
  padding: 10px;
}
header h1 {
  color: #FFEECC;
  background: url('../images/icons/it.png') no-repeat 0 50%;
  padding-left: 40px;
}
header nav {
  float: right;
  font-size: 1.2em;
  margin-left: 20px;
}
header nav li {
  line-height: 75px;
}
header nav a {
  border-radius: 6px;
}
header nav a:hover {
  background-color: #fff;
}

header:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}
