#famous h2 {
  text-shadow: 1px 1px 2px #009D92;
}

#famous article:hover {
  opacity: 1;
}

#famous article:nth-child(4n) {
  clear: both;
}

#famous article img {
  border-radius: 50%;
  box-shadow: 0 0 5px #000;
  display: block;
  margin: 1em auto;
  width: 100%;
}

#famous article img:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.woman-card {
  background-color: white;
  float: left;
  min-height: 250px;
  margin: 1%;
  opacity: 0.8;
  padding: 2%;
  width: 27.33%;

  &:hover {
    opacity: 1;
  }

  &:nth-child(4n) {
    clear: both;
  }

  ) &__name {}

  &__years {}
}
